@charset "UTF-8";

body {
    background-color: #FFEEE2;
    color: #5D4037;
    font-family: 'BIZ UDPGothic', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

a {
    color: #D84315;
    text-decoration: none;
    border-bottom: 1px dotted #D84315;
}

a:hover {
    color: #FF5722;
    background-color: #FFF3E0;
    border-bottom: 1px solid #FF5722;
}

.main-container {
    background-color: #FFFFFF;
    border: 1px solid #D7CCC8;
    margin-top: 50px;
}

.header-section {
    padding: 60px 20px;
    background-color: #FFF8E1;
    border-bottom: 2px solid #FFE0B2;
    text-align: center;
}

.header-section h1 {
    font-weight: 700;
    font-size: 2.2rem;
    color: #BF360C;
    margin: 0 0 10px 0;
    letter-spacing: 0.1em;
}

.header-section p {
    font-size: 0.9rem;
    color: #8D6E63;
    margin: 0;
}

.sidebar {
    background-color: #FFFBF0;
    border-right: 1px solid #FFE0B2;
    vertical-align: top;
    padding: 30px 15px;
}

.menu-category {
    background-color: #FFCCBC;
    color: #BF360C;
    font-weight: 700; 
    padding: 5px;
    text-align: center;
    margin-bottom: 15px;
    font-size: 0.9rem;
    border-radius: 4px;
}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-list li {
    margin-bottom: 10px;
    border-bottom: 1px solid #FFF3E0;
}

.content-body {
    padding: 40px;
    vertical-align: top;
}
.content-body ul li {
    margin-bottom: 0.3em;
}

.content-body ul li:last-child {
    margin-bottom: 0;
}

.marquee-wrapper {
    background-color: #FFF3E0;
    border: 1px solid #FFCCBC;
    padding: 5px;
    margin-bottom: 30px;
    color: #E64A19;
    text-align: center;
}

h2 {
    font-weight: 700;
    font-size: 1.4rem;
    color: #BF360C;
    border-bottom: 2px solid #FFCCBC;
    display: inline-block;
    margin: 10px 0 15px 0;
    padding-right: 20px;
}
h3 {
    font-weight: 700;
    font-size: 1.2rem;
    color: #444;                   /* 文字色は少し落ち着かせる */
    border-left: 5px solid #FFCCBC; /* 左側に太めのアクセントカラー */
    border-bottom: none;           /* 下線は消す */
    display: block;                /* 横いっぱいの背景色にするなら block */
    margin: 20px 0 10px 0;
    padding: 2px 0 2px 10px;       /* 上下と左側の余白 */
}

.update-box {
    background-color: #FAFAFA;
    border: 1px solid #EEEEEE;
    padding: 15px;
    font-size: 0.9rem;
}

.footer-area {
    margin: 30px 0;
    font-size: 0.8rem;
    color: #8D6E63;
}

pre {
    background-color: #2d2d2d;
    color: #ccc;
    padding: 15px;
    border-radius: 5px;

    /* 右端で折り返すための設定 */
    white-space: pre-wrap;       /* 空白を保持しつつ、必要に応じて折り返す */
    overflow-wrap: break-word;   /* 長い単語（URLや連続した文字列）も強制的に折る */
    word-break: break-all;       /* どこでも折れるようにして、右端を揃える */
}

pre code {
    background-color: transparent;
    color: inherit;
    padding: 0;
}
