<div class="menu-category">Main Menu</div>
<ul class="nav-list">
  <li><a href="{{ '/' | relative_url }}">Top / 入口</a></li>
  <li><a href="{{ '/src/ids.html' | relative_url }}">自己紹介</a></li>
  <li><a href="{{ '/src/docs.html' | relative_url }}">まとめ資料</a></li>
  <!--<li><a href="{{ '/src/tips.html' | relative_url }}">小ネタ集め</a></li>-->
  <li><a href="{{ '/src/lt.html' | relative_url }}">LaTeX関連</a></li>
  <li><a href="{{ '/src/pap.html' | relative_url }}">論文チェック(2026.4〜)</a></li>
  <li><a href="{{ '/src/eg.html' | relative_url }}" style="color: #FFFBF0; border-bottom: none;">eg</a></li>
</ul>
